/* app css stylesheet */
#buildsList li {
  margin-bottom: 2px;
}
.buildsVersions {
  display: inline-block;
}
.buildChild {
  display: inline-table;
}
.buildVersion {
  margin-bottom: 2px;
}
.addVersion {
  width: 95%;
}
.formView {
  display: inline-block;
  margin-right: 5px;
  width: 45%;
  height: 100%;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}